body {
  background-color: black;
  text-align: center;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.title, .middle {
  font-family: Verdana;
  font-size: 50px;
  color: white;
  align: center;
}

.title {
  font-weight: normal;
}

.middle {
  font-weight: 300;
  font-size: 42px;
}

.end {
  text-align: Right;
  color: gray;
}
